:root {
  /* alternative: 36px */
  --sectiontitlefont: 2.25rem;
  /* alternative: 24px */
  --cardtitlefont: 1.5rem;
  /* alternative: 20px */
  --standardfont: 1.25rem;
}

.img {
  max-height: 50px;
}

.link {
  color: #ffffff;
  font-size: var(--standardfont);
  display: flex;
  align-items: center;
  gap: 5px;
}
