/* hero section content */
.heroContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.name {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
}

.title {
  color: #8fd14f;
  text-align: center;
  font-size: 36px;
}

.img {
  width: 280px;
  height: 280px;
}

@media screen and (max-width: 800px) {
  .heroContainer {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
  }
}

/* about me section content */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 90%;
  font-size: 1.25rem;
  position: relative;
}

/* skills section content */
.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5vw;
  margin: 10px;
  width: 90%;
}

/* contact me section content */
.contactMeContainer {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}

/* header styling */
.header {
  background-color: lightgray;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 5vh;
  /* opacity: 100; */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
