/* hero section content */
.heroContainer {
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.name {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
}

.title {
  color: #8fd14f;
  text-align: center;
  font-size: 36px;
}

.img {
  width: 280px;
  height: 50%;
}

@media screen and (max-width: 800px) {
  .heroContainer {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
  }
}

/* about me section content */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 90%;
  font-size: 1.25rem;
  position: relative;
}

/* skills section content */
.skillsList {
  display: flex;
  flex-wrap: wrap;
}
